<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button name="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro | EmPoderTIC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div class="contenedor-register">
      <div class="contenedor-form">
        <h1 class="titulo">¡Bienvenido a EmPoderTIC</h1>
        <p class="description">Donde tu Reconocimiento Comienza</p>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="signUp(email, password)" expand="block">Registrarse</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">Registrarse con Google</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="" [routerLink]="['/password-reset']">¿Olvidaste tu contraseña?</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </form>
</ion-content>
