/* Estilos generales */
ion-content {
    --color-negro: #364E65;
    --color-texto: #727C77;
    --color-rojo: #ED0722;
    --color-rgba-rojo: rgba(237, 7, 34, 0.21);
    --color-rgba-celeste: rgba(55, 147, 246, 0.27);
    --color-celeste: #3770B8;
    --color-input: #EEF5F9;
  
    background-color: #f7f9fd;
  }

  .contenedor-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-form {
    padding: 20px;
    box-sizing: border-box;
  }

  .titulo {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-negro);
  }
  
  .descripcion {
    font-size: 15px;
    color: var(--color-texto);
  }
  
  .link {
    font-size: 14px;
    color: var(--color-celeste);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Estilos para mostrar la contraseña */
  ion-input.password-input {
    padding-right: 60px;
    margin-bottom: 0px;
  }
  
  ion-icon.show-password-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--color-texto);
  }
  
  /* Estilos para el botón de inicio de sesión */
  ion-button {
    --background: var(--color-celeste);
    --color: #fff;
    margin-top: 30px;
  }
  
  /* Estilos del fondo de menú con gradiente circular */
ion-header {
    --background: radial-gradient(circle at 0% 0%, #11468d, #8d2ba8, #500096, #6d39c2);
}
ion-header {
    ion-toolbar {
      --background: radial-gradient(circle at 0% 0%, #11468d, #8d2ba8, #500096, #6d39c2);
      --color: #fff; /* Color de texto para el título del menú */
    }
  }
  
  /* Estilos de las opciones del menú */
  .menu-list ion-item {
    --color: #fff; /* Color de texto para las opciones del menú */
  }
  
  /* Estilos del botón "Iniciar Sesión" */
  ion-button.btn-iniciar-sesion {
    --background: #3770B8; /* Color de fondo para el botón "Iniciar Sesión" */
    --color: #fff; /* Color de texto para el botón "Iniciar Sesión" */
  }
  