<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button name="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Perfil Estudiante | EmPoderTIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card>
      <p>Estudiante</p>
      <ion-card-header>
        <ion-card-title>Tabita Melo</ion-card-title>
        <ion-card-subtitle>20.928.183-k</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Informática y telecomunicaciones
        Ingeniería Informática
        <br>
        -----------------------------
        <br>
        Duoc UC, San Andrés Concepción
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <img src="./../../assets/empoderamiento.png"/>
        <ion-card-subtitle>Insignia de Empoderamiento en Liderazgo Femenino</ion-card-subtitle>
        <ion-card-title class="ion-card-tittle">Insignias de Reconocimiento Certificadas</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <img src="./../../assets/colaboracion.png"/>
        <ion-card-subtitle>Insignia de Colaboración en Liderazgo Femenino</ion-card-subtitle>
        <ion-card-title class="ion-card-tittle">Insignias de Reconocimiento</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-card-tittle">Historial de Participación</ion-card-title>
      </ion-card-header>
      <ion-item button detail="true" detail-icon="caret-forward-outline">
        <ion-label>
          <h3>Taller de Liderazgo Femenino "Empoderamiento</h3>
          <p>Jueves 24 de agosto 2023</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true" detail-icon="caret-forward-outline">
        <ion-label>
          <h3>Taller de Liderazgo Femenino "Colaboración</h3>
          <p>Jueves 20 de abril 2023</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
