/* Estilo global */
ion-content {
  --ion-background-color: transparent; /* Fondo transparente */
  font-family: Arial, sans-serif;
  padding: 0;
}

/* Estilo del encabezado y menú */
ion-toolbar {
  --background: radial-gradient(circle at 0% 0%, #11468d, #8d2ba8, #500096, #6d39c2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --ion-color-base: white; /* Color del texto */
}

.logo img {
  max-height: 50px;
}

ion-toolbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ion-toolbar ul li a {
  text-decoration: none;
  color: white;
}

.login-button {
  --background: #3770B8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Estilo del banner */
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilo de la sección de bienvenida */
.welcome {
  --background: rgba(0, 0, 0, 0.34);
  text-align: center;
  padding: 50px 0;
}

.welcome h1, .welcome h2 {
  color: white;
}

ion-button.join-button {
  --background: #3770B8;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
