<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>EmPoderTIC</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title>EmPoderTIC - Plataforma de TIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <section class="banner">
    <img src="https://firebasestorage.googleapis.com/v0/b/empodertic.appspot.com/o/banner.png?alt=media&token=caa010bd-d73b-4df2-9db5-bb5a9267b312" alt="Banner de EmPoderTIC" />
  </section>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Iniciar Sesion"[routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
        Iniciar Sesion
      </ion-tab-button>
      <ion-tab-button tab="Registro" [routerLink]="['/registration']">
        <ion-icon name="person-add-outline"></ion-icon>
        Registro
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
